<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookLeasing.DAL.Properties.Settings.BookLeasing" connectionString="Data Source=DESKTOP-DL9ESCO\MIRAYDOPDOGRU;Initial Catalog=KitapKiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>